</script>
<script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.8.3/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.8.3/firebase-analytics.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries
  
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
      apiKey: "AIzaSyCPLIDAVl5Ww22yGpV5o4ihquCMpy0cDZw",
      authDomain: "flutter-app-demo-6010c.firebaseapp.com",
      projectId: "flutter-app-demo-6010c",
      storageBucket: "flutter-app-demo-6010c.appspot.com",
      messagingSenderId: "11290880000",
      appId: "1:11290880000:web:31a4fe0b72a9c365ee90e5",
      measurementId: "G-YDT4DBYJZF"
    };
  
    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);
  </script>

</script>
</body>
</html>